*{
    all: unset;
}

window{
    all: unset;
}

.fix{
    background-color: rgb(76 , 86 , 106 , .5);
    border-radius: 15px;
}

.fix{
    font-size: 50px;
    color: #88C0D0;
}

.fix:hover{
    font-size: 65px;
}